.nav-link:hover {
    color: #e0bc00;
    
}
#a{
    font-weight: 600;
}

#btn{
    background-color: #ffd32c;
    color: black;
    border: none;
}
#btn:hover{
    background-color:#ffea99 ;
}

#logo{
    font-weight: 600;
}