#parent {
    height: 585px;
    background-attachment: fixed;
}

#img1 {
    width: 100%;
    animation: infinite 4s image;
    filter: contrast(1.3);


}

@keyframes image {


    100% {
        transform: rotate(360deg);

    }

}

#head {
    color: white;
    /* font-size: 50px; */
    margin-top: 40px;
}

#span2 {
    color: #e0bc00;
}

#text {
    color: white;
    font-size: 15px;
}

#btn2 {
    background-color: #e0bc00;
    border: none;
    border-radius: 7px;
    padding: 4px;

}

#btn2:hover {
    background-color: #ffea99;
}